*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    text-transform: capitalize;


}
body{
    display: grid;
    background-color: #e2e6e7;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/* navbar */
.navbar{
    height: 70px;
    /* width: 100vh; */
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* logo */
.nav-logo{
    height: 50px;
    width: 150px;
    margin-left: 10px;
}
.logo{
    margin-top: 5px;
    background-image: url("logo.png");
    height: 50px;
    width: 100%;
    background-size:cover;
}
/* add */
.nav-address{
    margin-left: 5px;
    cursor: pointer;
}
.nav-dilever{
    margin-left: 15px;
    font-size: 0.75rem;
    font-weight: 100;
    color: #cccccc;
    
}
.nav-add{
    display: flex;
}
.nav-india{
    margin-left: 5px;
    font-size: 1rem;
}
.nav-search{
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
    /* background-color: blue; */
    margin-left: 5px;
    width: 650px;
    border: 2px solid transparent;
}
.nav-search:hover{
    border: 3px solid #fdb352;
    border-radius: 4px;
}
.nav-st{
    width: 52px;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    border: none;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    background-color: #f0f0f0e8;
    cursor: pointer;
}
option{
    width: 201px;
    background-color: white;
}
.nav-icon{
width: 45px;  
border: none; 
height: 40px; 
}
.nav-input{
    width: 100%;
    border: none;
    height: 38px;
    font-size: 1rem;

}
.search-icon{
    width: 45px;  
    border: none; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdb352;
    color: #384141;
    font-size: 1.3rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-login{
    margin-left: 15px;
    height: 40px;
    cursor: pointer;
}
.nav-hello{
    font-size: 0.75rem;
    /* font-weight: 100; */
    
}
.nav-acc{
    font-size: 1rem;
    font-weight: 500;
}
.nav-cart{
    display: flex;
    align-items: end;
    width: 80px;
    height: 50px;
    padding-left: 8px;
    cursor: pointer;
}
.nav-cart i{
    font-size: 30px;
     padding-bottom: 10px;
}
.nav-cart-text{
    font-size: 1rem;
    padding-bottom: 5px;
}
/* lower nav */
.nav-title{
    background-color: #232f3e;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    
}
.nav-link i{
    padding: 8px 2px 8px 15px;
    font-size: 1.2rem;
}
.nav-link a {
    font-size: 0.85rem;
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    /* padding: 7px 9px; */
}
/* main-frem */
.first-imag{
    width: 100%;
    height: 570px;
    background-image: url("header.jpg");
    border: none;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
    box-shadow: inset 0px -240px 200px rgb(226, 230, 231);
    /* opacity: bottom 50px;  */
}
.for-hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 34px;
    background-color: azure;
    font-size: 14px;
    margin-bottom: 300px;
    
}
.for-hero-image a{
    color: #007185;
    text-decoration: none;
}
.for-hero-image a:hover{
    color: #c7511f;
    text-decoration: underline;
}
 /* main section */
 .box-boss{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: -270px;
 }
.box{
    width: 24%;
    height: 26.25rem;
    transition-duration: 0.45s;
    background-color: #ffffff;
    padding: 20px 0px 1px;
}
.box1 h2{
    padding-left: 20px;
    padding-right: 20px;
    
}
.box-img-sections{
    height: 18.75rem;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5625rem;
}
.box1 a{
    margin-left: 20px;
    text-decoration: none;
    color: #007185;
}
.box1 a:hover{
    color: #c7511f;
}
.img-box1{
    width: 7.6875em;
    height: 6.875em;
    background-color: #0f1111;
    display: block;
    margin-right: 1rem;
    margin-bottom: 30px;
    background-image: url("refesh1.jpg");
    background-size: cover;
    background-position: center;
}
.img-box1 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
}
.img-box2{
    width: 7.6875rem;
    height: 6.875rem;
    background-color: #0f1111;
    display: block;
    margin-bottom: 30px;
    background-image: url("refesh2.jpg");
    background-size: cover;
    background-position: center;
    
}
.img-box2 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
   
}

.img-box3{
    width: 7.6875rem;
    height: 6.875rem;
    background-color: #0f1111;
    display: block;
    margin-right: 1rem;
    margin-bottom: 30px;
    background-image: url("refesh3.jpg");
    background-size: cover;
    background-position: center;
}
.img-box3 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
    
}
.img-box4{
    width: 7.6875rem;
    height: 6.875rem;
    background-color: #0f1111;
    display: block;
    margin-bottom: 30px;
    background-image: url("refesh4.jpg");
    background-size: cover;
    background-position: center;
}
.img-box4 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
}
/* box2 */
.box2 h2{
    padding-left: 20px;
    
}
.box2-img-sections{
    height: 300px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5625rem;
}
.box2 a{
    text-decoration: none;
}
.img1-box1{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-right: 1rem;
    margin-bottom: 30px;
    background-image: url("game1.jpg");
    background-size: cover;
    background-position: center;
}
.img1-box1 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
}
.img2-box2{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-bottom: 30px;
    background-image: url("game2.jpg");
    background-size: cover;
    background-position: center;
    
}
.img2-box2 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
   
}
.img3-box3{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-right: 1rem;
    margin-bottom: 30px;
    background-image: url("game3.jpg");
    background-size: cover;
    background-position: center;
}
.img3-box3 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
    
}
.img4-box4{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-bottom: 30px;
    background-image: url("game4.jpg");
    background-size: cover;
    background-position: center;
}
.img4-box4 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
}
/* box3 */
.box-img-box3{
   margin-left: 15px;
   margin-right: 15px;
}
.box2 a{
    margin-left: 20px;
    margin-bottom: 20px;
    color: #007185;
    padding-bottom: 0;
}
.box2 a:hover{
    color: #c7511f;
}
.imag-box3-box{
    height: 300px;
    background-position: center;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.box3 a{
    /* margin-left: 20px; */
    margin-bottom: 20px;
    text-decoration: none;
    color: #007185;
    padding-bottom: 0;
}
.box3 a:hover{
    color: #c7511f;
}

 /* box4 fashion */
 .box4 h2{
    padding-left: 20px;
    
}
.box4-img-sections{
    height: 300px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5625rem;
}
.box4 a{
    text-decoration: none;
}
.img1-box1-box4{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-right: 1rem;
    margin-bottom: 30px;
    background-image: url("fashion1.jpg");
    background-size: cover;
    background-position: center;
}
.img1-box1-box4 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
}
.img2-box2-box4{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-bottom: 30px;
    background-image: url("fashion2.jpg");
    background-size: cover;
    background-position: center;
    
}
.img2-box2-box4 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
   
}
.img3-box3-box4{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-right: 1rem;
    margin-bottom: 30px;
    background-image: url("fashion3.jpg");
    background-size: cover;
    background-position: center;
}
.img3-box3-box4 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
    
}
.img4-box4-box4{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-bottom: 30px;
    background-image: url("fashion4.jpg");
    background-size: cover;
    background-position: center;
}
.img4-box4-box4 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
}
.box4 a{
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007185;
    padding-bottom: 0;
}
.box4 a:hover{
    color: #c7511f;
}


/* line2  */
.boxhover{
    width: 23%;
    height: 420px;
    transition-duration: 0.3s;
    background-color: #ffffff;
    padding: 20px 0px 1px;
}
.boxhover2:hover{
    width: 24%;
    height: 425px;
    box-shadow: 0px 0px 20px #3a4553;
}
.boss-line2{
    margin-top: 25px;
    margin-left: 23px;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
}
.box1-line2 h2{
    padding-left: 20px;
    
}
.boss-line2 a{
        margin-left: 20px;
        text-decoration: none;
        color: #007185;
        font-size: 0.85rem;
    }
.boss-line2 a:hover{
        color: #c7511f;
    }

.box1-line2-img-sections{
    height: 300px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5625rem;
}
.box1-line2 a{
    text-decoration: none;
}
.img1-box1-line2-dd{
    width: 330px;
    height: 160px;
    background-color: #0f1111;
    display: block;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 30px;
    background-image: url("gadget1.jpg");
    background-size: cover;
    background-position: center;
}
.img1-box1-line2-dd p{
    margin-top: 165px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1rem;
}
.img2-box1-line2{
    width: 80px;
    height: 80px;
    background-color: #0f1111;
    display: block;
    margin-bottom: 30px;
    margin-right: 0.5rem;
    background-image: url("gadget2.jpg");
    background-size: cover;
    background-position: center;
    
}
.img2-box1-line2 p{
    margin-top: 85px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1rem;
   
}
.img3-box1-line2{
    width: 80px;
    height: 80px;
    background-color: #0f1111;
    display: block;
    margin-right: 0.5rem;
    margin-bottom: 30px;
    background-image: url("gadget3.jpg");
    background-size: cover;
    background-position: center;
}
.img3-box1-line2 p{
    margin-top: 85px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1rem;
    
}
.img4-box1-line2{
    width: 80px;
    height: 80px;
    background-color: #0f1111;
    display: block;
    margin-bottom: 30px;
    background-image: url("gadget4.jpg");
    background-size: cover;
    background-position: center;
}
.img4-box1-line2 p{
    margin-top: 85px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1rem;
}

.box2-img-box1-line2{
   margin-left: 15px;
   margin-right: 15px;
}
.imag-box2-line2-box2{
    height: 300px;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.box2-line2 h2{
    padding-left: 20px;
    
}
.box2-line2-img-sections{
    height: 300px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5625rem;
}
.box2-line2 a{
    text-decoration: none;
}
.img1-kit-box1-line2{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-right: 1rem;
    margin-bottom: 30px;
    background-image: url("trands1.jpg");
    background-size: cover;
    background-position: center;
}
.box2-line2-content h2{
    font-size: 1.25rem;

}
.img1-kit-box1-line2 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
}
.img2-box2-line2{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-bottom: 30px;
    background-image: url("trands2.jpg");
    background-size: cover;
    background-position: center;
    
}
.img2-box2-line2 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
   
}
.img3-box3-line2{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-right: 1rem;
    margin-bottom: 30px;
    background-image: url("trands3.jpg");
    background-size: cover;
    background-position: center;
}
.img3-box3-line2 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
    
}
.img4-box4-line2{
    width: 123px;
    height: 110px;
    background-color: #0f1111;
    display: block;
    margin-bottom: 30px;
    background-image: url("trands4.jpg");
    background-size: cover;
    background-position: center;
}
.img4-box4-line2 p{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.75rem;
}
.box4-img-box1-line2{
    margin-left: 15px;
    margin-right: 15px;
 }
 .box4-img-box1-line2 h2{
   font-size: 1.25rem;
 }
 .imag-box4-line2-box2{
     height: 300px;
     background-position: center;
     margin-top: 1rem;
     margin-bottom: 2rem;
 }


 /* image-6pics✝ */
 .boos-foor-image6-phone{
   width: 97%;
   height: 260px;
   display: flex;
   flex-direction: column;
   margin: 25px 20px 25px 20px;
   background-color: #ffffff;
   
 }
 .h2-div-phone{
    padding-left: 20px;
    padding-top: 10px;
 }
 .image-6pics{
    height: 210px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    
 }
 .image-phone-in-cell-6image1{
    width: 15%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("img1.jpg");
    background-position: center;
    background-size: cover;
 }
 .image-phone-in-cell-6image2{
    width: 15%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("img2.jpg");
    background-position: center;
    background-size: cover;
 }
 .image-phone-in-cell-6image3{
    width: 15%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("img3.jpg");
    background-position: center;
    background-size: cover;
 }
 .image-phone-in-cell-6image4{
    width: 15%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("img4.jpg");
    background-position: center;
    background-size: cover;
 }
 .image-phone-in-cell-6image5{
    width: 15%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("img5.jpg");
    background-position: center;
    background-size: cover;
 }
 .image-phone-in-cell-6image6{
    width: 15%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("img6.jpg");
    background-position: center;
    background-size: cover;
 }

 /* Best Sellers in Sports & Outdoors line 4 */
 .boos-foor-image6-Sports-Outdoors{
    width: 97%;
    height: 260px;
    display: flex;
    flex-direction: column;
    margin: 25px 20px 25px 20px;
    background-color: #ffffff;
    
  }
  .h2-div-Sports{
     padding-left: 20px;
     padding-top: 10px;
  }
  .image-6pics-line4{
     height: 210px;
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     background-color: #ffffff;
     
  }
  .image-Sports-6image1{
     width: 16%;
     height: 200px;
     margin-top: 5px;
     margin-bottom: 5px;
     background-image: url("Sports\ &\ Outdoors01.jpg");
     background-position: center;
     background-size: cover;
  }
  .image-Sports-6image2{
     width: 15%;
     height: 200px;
     margin-top: 5px;
     margin-bottom: 5px;
     background-image: url("Sports\ &\ Outdoors02.jpg");
     background-position: center;
     background-size: cover;
  }
  .image-Sports-6image3{
     width: 15%;
     height: 200px;
     margin-top: 5px;
     margin-bottom: 5px;
     background-image: url("Sports\ &\ Outdoors03.jpg");
     background-position: center;
     background-size: cover;
  }
  .image-Sports-6image4{
     width: 15%;
     height: 200px;
     margin-top: 5px;
     margin-bottom: 5px;
     background-image: url("Sports\ &\ Outdoors04.jpg");
     background-position: center;
     background-size: cover;
  }
  .image-Sports-6image5{
     width: 15%;
     height: 200px;
     margin-top: 5px;
     margin-bottom: 5px;
     background-image: url("Sports\ &\ Outdoors05.jpg");
     background-position: center;
     background-size: cover;
  }
  .image-Sports-6image6{
     width: 15%;
     height: 200px;
     margin-top: 5px;
     margin-bottom: 5px;
     background-image: url("Sports\ &\ Outdoors06.jpg");
     background-position: center;
     background-size: cover;
  }
 /*foooter */
 footer{
    height: 1100px;
    width: 100%;
    background-color: #131A22;
    margin-top: 30px;
 }
 .back-to-top{
    background-color: #364150;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
 }
 .main-footer-text{
    display: flex;
    width: 100%;
    height: 340px;
    justify-content: space-evenly;
    background-color: #232f3e;
 }
 .main-footer-text a{
    text-decoration: none;
    color: #e2e6e7;
    font-size: 0.75rem;
 }
 .main-footer-text a:hover{
    text-decoration:underline;
    color: #ffffff;
 }
 .footer-text-box1{
    height:200px ;
    width: 20%;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    line-height: 1.5;
 }
 .footer-text-box2{
    height:200px ;
    width: 20%;
    color: white;
    margin-top: 40px;
    line-height: 1.5;
 }
 .footer-text-box3{
    height:200px ;
    width: 20%;
    color: white;
    margin-top: 40px;
    line-height: 1.5;
 }
 
 .footer-text-box4{
    height:200px ;
    width: 20%;
    color: white;
    margin-top: 40px;
    line-height: 1.5;
 }
 .footer-line-white{
    width: 100%;
    height: 0px;
    border: 1px solid #3a4553;
 }
 .footer-icon{
    width: 100%;
    height: 108px;
    background-color: #232f3e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    margin-bottom: 10px;
    z-index: 2;
 }
 .footer-icon-box1{
    height: 24px;
    width: 76px;
    margin-right: 10px;
    margin-top: 16px;
    display: block;
    /* background-color: #c7511f; */
    /* padding-top: 3px; */
    padding: 3px;
    background-image: url("logo.png");
    background-position: center;
    background-size: cover;
    
    
 }
 .footer-icon-box2{
    height: 24px;
    width: 90px;
    display: flex;
    color: #cccccc;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 1px 2px 1px 2px ;
    font-size: 0.85rem;
    margin-left: 35px;
 }
 .footer-icon-box2 i{
    margin-right: 5px;
 }
 /* .footer-icon-box2 p{
    
      
 } */
 .footer-icon-box3{
    height: 24px;
    width: 120px;
    display: flex;
    color: #cccccc;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 3px ;
    font-size: 0.85rem;
    margin-left: 30px;
 }
 .footer-icon-box3 pre{
    font-size: 0.80rem;
 }
 .footer-icon-box4{
    height: 24px;
    width: 100px;
    display: flex;
    color: #cccccc;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 3px ;
    font-size: 0.85rem;
    margin-left: 30px;
 } 
 /* footertable */
 .footermoreonamazone{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* padding-left: 30px; */
    background-color: #131A22;
 }
 table{
    
    margin: 2px 10px 2px 10px;
    text-align: start;
    font-family: inherit;
    color: #DDD;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    white-space: nowrap;
 }
 td{
    padding: 0px 9px 0px 9px;
    vertical-align: top;
    text-align: left;
 }
 td a{
    font-size: 0.95rem;
    color: #ffffff;
    text-decoration: none;
 }
 td a:hover{
    text-decoration: underline;
 }
 td span{
    font-size: 0.75rem;
    color: #cccccc;
 }
 .emtytd{
    padding: 0px 10px 0px 10px;
 }
 .lastwordsroramazone{
    padding: 20px 0 30px 0;
    color: #ffffff;
    border: none;
    font-size: 0.85rem;
    text-align: center;
    background-color: #131A22;
    line-height: 1.5;
    

 }
 .lastwordsroramazone a{
    text-decoration: none;
    color: #dddddd;
    padding: 0px 7.200px 0px 7.200px ;
 }
 .lastwordsroramazone a:hover{
    text-decoration: underline #c7511f;
 }
 .lastwordsroramazone span{
    display: block;
 }
 